[submodule "Aristo"]
	path = Plugin/aristo/webroot
	url = git://github.com/taitems/Aristo-jQuery-UI-Theme.git
[submodule "Lil"]
	path = Plugin/Lil
	url = http://miha.nahtigal:vuego3869@www.nahtigal.com/git/lil.git
[submodule "LilTimeTrack"]
	path = Plugin/LilTimeTrack
	url = http://miha.nahtigal:vuego3869@www.nahtigal.com/git/lil_time_track.git