Config/config.php
Config/bootstrap_local.php
Config/database.php
webroot/paths.php
Plugin/Lil
tmp/*
tmp/cache/*
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/cache/sessions/*
tmp/cache/tests/*
tmp/logs/*
uploads/*
!empty