parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - config/paths.php
        - vendor/cakephp/cakephp/src/functions.php
    excludePaths:
        - src/Console/Installer.php
        - src/App/Controller/ErrorController.php
        - src/App/Command/ConsoleCommand.php
        - src/App/Controller/PagesController.php
        - src/Controller/SyncController.php
        - plugins/Crm/src/Lib/ActiveSyncContacts.php
        - plugins/Tasks/src/Lib/ActiveSyncTasks.php
        - plugins/Calendar/src/Lib/ActiveSyncCalendar.php
    paths:
        - src/
        - plugins/Calendar/src/
        - plugins/Crm/src/
        - plugins/Documents/src/
        - plugins/Expenses/src/
        - plugins/Projects/src/
        - plugins/Tasks/src/