parameters:
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - config/paths.php
    excludes_analyse:
        - src/Console/Installer.php
        - src/App/Controller/ErrorController.php
        - src/App/Command/ConsoleCommand.php
        - src/App/Controller/PagesController.php
        - src/Controller/SyncController.php
        - plugins/LilCrm/src/Lib/ActiveSyncContacts.php
        - plugins/LilTasks/src/Lib/LilActiveSyncTasks.php
