<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
      <directory suffix=".php">plugins/Crm/src/</directory>
      <directory suffix=".php">plugins/Expenses/src/</directory>
      <directory suffix=".php">plugins/LilInvoices/src/</directory>
      <directory suffix=".php">plugins/Projects/src/</directory>
      <directory suffix=".php">plugins/Tasks/src/</directory>
    </include>
    <exclude>
      <file>src/Console/Installer.php</file>
    </exclude>
  </coverage>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <!-- Add any additional test suites you want to run here -->
  <testsuites>
    <testsuite name="app">
      <directory>tests/TestCase/</directory>
      <directory>plugins/Crm/tests/TestCase/</directory>
      <directory>plugins/Expenses/tests/TestCase/</directory>
      <directory>plugins/LilInvoices/tests/TestCase/</directory>
      <directory>plugins/Projects/tests/TestCase/</directory>
      <directory>plugins/Tasks/tests/TestCase/</directory>
    </testsuite>
    <!-- Add plugin test suites here. -->
  </testsuites>
  <!-- Ignore vendor tests in code coverage reports -->
  <extensions>
    <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension"/>
  </extensions>
</phpunit>
