span.calendar-day {
    display: block;
    width: 40px;
    padding: 0;
    border-bottom: solid 1px var(--md-sys-color-outline-variant);
    margin-left: auto;
    margin-right: auto;

    &.today {
        span.day, span.month {
            background-color: var(--md-sys-color-tertiary-container);
        }
        span.day-name, span.year-name {
            background-color: var(--md-sys-color-tertiary);
            color: var(--md-sys-color-on-tertiary);
        }
    }

    span {
        width: 100%;
        display: block;
        text-align: center;
    }

    span.day-name, span.year-name {
        color: var(--md-sys-color-on-primary);
        background-color: var(--md-sys-color-primary);
        
        font-size: 0.60rem;
        border-right: solid 1px var(--md-sys-color-outline-variant);

        &.weekend {
            background-color: var(--md-sys-color-primary);
        }
    }

    span.day, span.month {
        padding: 0px;
        font-size: 1.0rem;
        font-weight: bold;

        color: var(--md-sys-color-on-surface);
        background-color: var(--md-sys-color-surface-container);
        border-right: solid 1px var(--md-sys-color-outline-variant);
    }

    span.month {
        font-size: 0.50rem;
        font-weight: normal;
        margin-top: -3px;
    }
}
