dialog {
    padding: 0;
    border-radius: 4px;
    min-width: 500px;

    box-sizing: border-box;
    border-radius: var(--modal-border-radius);
    border: solid 1px var(--md-sys-color-on-surface-outline);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .dialog-header {
        padding: 0.5rem;
        background-color: #f0f0f0;

        h3 {
            padding: 0.5rem;
            margin: 0;
        }

        a.modal-close {
            display: block;
            float: right;
        }
    }

    p.dialog-content {
        padding: 1rem;
        padding-top: 0;
        margin: 0;
    }
}