dialog {
    padding: 0;
    border-radius: 4px;
    min-width: 500px;

    box-sizing: border-box;
    border-radius: var(--md-sys-shape-corner-medium);
    border: solid 1px var(--md-sys-color-outline);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .dialog-header {
        padding: 0.5rem;
        background-color: var(--md-sys-color-surface-container-high);
        border-bottom: solid 1px var(--md-sys-color-outline-variant);

        h3 {
            padding: 0.5rem;
            margin: 0;
            border: none;
        }

        a.modal-close {
            display: block;
            float: right;
            margin-top: 0.2rem;

            i.material-icons {
                margin-top: 0.4rem;
            }
        }
    }

    p.dialog-content {
        padding: 1rem;
        padding-top: 0;
        margin: 0;
    }
}