@use './../vendor/Materialize/components/global' as *;

.duration {
    .duration-hours,
    .duration-minutes {
        @extend .center-align;
        width: 100px !important;
        text-align: center !important;
        margin-right: 20px;
    }

    input.duration-minutes {
        margin-left: 20px;
    }

}
