@use "../vendor/Materialize/components/color-variables" as *;
div.search-panel {
    padding: 5px;
    padding-bottom: 0;
    background-color: var(--md-sys-color-surface-container-highest);
    border-bottom: solid 1px var(--md-sys-color-outline-variant);

    input {
        border: none !important;
        background-color: transparent !important;
        padding: 12px !important;
        height: auto !important;
    }
}
