@use "../vendor/Materialize/components/global" as *;
@use "local-tokens" as *;

.sidenav {
    @media print {
        display: none;
    }

    .sidenav-user {
        @extend .center-align;

        a.sidenav-avatar {
            display: inline;
            height: 110px;
            clear: both;
            padding: 0;
            background-color: transparent !important;
        }
        img {
            height: 90px;
            cursor: pointer;
            margin: 0px;
            margin-top: 12px;
        }

        div.sidenav-user-title {
            display: block;
            line-height: 1.5rem;
            height: 1.5rem;
            padding: 0;
            margin-top: 0;
            margin-bottom: 1rem;

            cursor: pointer;
        }

        ul#user-settings {
            margin-left: 0.8rem !important;
            margin-right: 0.8rem !important;
            margin-top: 0;
            border-radius: var(--md-sys-shape-corner-medium);
        }
    }

    .collapsible-header {
        white-space: nowrap;
        text-transform: uppercase;
        border: solid 1px var(--md-sys-color-outline);
        border-bottom: solid 1px var(--md-sys-color-outline) !important;
        border-radius: var(--md-sys-shape-corner-medium);
        background-color: var(--md-sys-color-surface-container-highest) !important;
    }

    .sidenav-submenu-body {
        .collapsible-header {
            text-transform: none;
            background-color: transparent !important;
            border: none !important;
        }

        a {
            border-radius: var(--md-sys-shape-corner-medium);
        }
    }

    ul.sidenav-submenu {
        li {
            a {
                font-weight: normal !important;
            }
        }
    }

}