@use "../vendor/Materialize/components/global" as *;
.sidenav {
    @media print {
        display: none;
    }

    .sidenav-user {
        @extend .center-align;

        a.sidenav-avatar {
            display: inline;
            height: 110px;
            clear: both;
            padding: 0;
            background-color: transparent !important;
        }
        img {
            height: 90px;
            cursor: pointer;
            margin: 0px;
            margin-top: 12px;
        }

        div.sidenav-user-title {
            display: block;
            line-height: 1.5rem;
            height: 1.5rem;
            padding: 0;
            margin-top: 0;
            margin-bottom: 1rem;

            cursor: pointer;
        }
    }

    .collapsible-header {
        white-space: nowrap;
        text-transform: uppercase;
        border: solid 1px #c0c0c0;
        border-bottom: solid 1px #666 !important;
        border-radius: 4px;
        background-color: #e0e0e0 !important;
    }

    .sidenav-submenu-body {
        .collapsible-header {
            text-transform: none;
            background-color: transparent !important;
            border: none !important;
        }

        a {
            border-radius: 4px;
        }
    }

    ul.sidenav-submenu {
        li {
            a {
                font-weight: normal !important;
            }
        }
    }

}