@use "../vendor/Materialize/components/global" as *;
@use "local-tokens" as *;

table.index {
    td, th {
        padding: 0.5rem 1rem;
        border-bottom: solid 1px var(--md-sys-color-outline-variant);
    }
    thead, tfoot {
        background-color: var(--md-sys-color-surface-container-high);
        border: solid 1px var(--md-sys-color-outline-variant);
    }
}
