@use "../vendor/Materialize/components/global" as *;
@use "local-tokens" as *;

table.index {
    thead, tfoot {
        background-color: var(--md-sys-color-surface-container-high);
        border: solid 1px var(--md-sys-color-outline-variant);
    }
}
