@font-face {
    font-family: 'digital';
    src: url('../css/font/digital-7.ttf');
}

div.timepanel {
    display: inline-block;
    width: 65px;
    margin-bottom: 2px;
    clear: none;

    span {
        display: inline-block;
        width: 12px;
        border-top: solid 1px #e4e4e4;
        border-bottom: solid 1px #e4e4e4;
        border-left: solid 1px #e4e4e4;

        padding-right: 2px;
        padding-left: 1px;

        font-family: 'digital';
        font-size: 14px;
        font-weight: bold;
        text-align: right;

        color: #111111;
        background-color: #f0f0f0;

        &.separator {
            text-align: center;
        }
    }
    span:last-child {
        border-right: solid 1px #e4e4e4;
    }

}
