@font-face {
    font-family: 'digital';
    src: url('../css/font/digital-7.ttf');
}

div.timepanel {
    display: inline-block;
    width: 65px;
    margin-bottom: 2px;
    clear: none;

    span {
        display: inline-block;
        width: 12px;
        border-top: solid 1px var(--md-sys-color-outline-variant);
        border-bottom: solid 1px var(--md-sys-color-outline-variant);
        border-left: solid 1px var(--md-sys-color-outline-variant);

        padding-right: 2px;
        padding-left: 1px;

        font-family: 'digital';
        font-size: 16px;
        font-weight: bold;
        text-align: right;

        color: var(--md-sys-color-on-surface);
        background-color: var(--md-sys-color-surface-container);

        &.separator {
            text-align: center;
        }
    }
    span:last-child {
        border-right: solid 1px var(--md-sys-color-outline-variant);
    }

}
