div.view-panel {
    margin-bottom: 0.5rem;

    .view-panel-line {
        display: flex;
        font-weight: bold;
        min-height: 1rem;

        .label {
            width: 150px;
            font-weight: normal;
            flex-shrink: 0;
        }
    }
}
