@use './vendor/Materialize/components/variables' as *;
@use './vendor/Materialize/components/colors.module.scss' as *;
@use './vendor/Materialize/components/global' as *;

html, body {
    height: 100%;
}

main, footer {
    padding-left: 300px !important;
}

@media #{$large-and-up} {
    main {
        & > div.container {
            width: calc(100% - 80px);
        }
    }
}

@media only print, screen and (max-width : 992px) {
    main, footer {
        padding-left: 0 !important;
    }
}

nav {
    /** Adjust nav for sidebar. There is no FIXED side nav on small screens. **/
    padding-left: 300px;
    @media only print, screen and (max-width : 992px) {
        padding-left: 0 !important;
    }

    /** Hide the logo in navigation on small screens **/
    .brand-logo {
        @extend .hide-on-large-only;
    }

    /* Upper navbar links are light/white by default which is hard to read */
    ul {
        li {
            a:not(:hover) {
                color: var(--md-sys-color-on-secondary-container) !important;
            }
        }
    }
}


h2 {
    font-size: 2.5rem;

    .small {
        font-size: 60% !important;
        margin-bottom: -0.8rem;
    }
}

h3 {
    font-size: 2rem;

    .small {
        font-size: 60% !important;
        margin-bottom: -0.8rem;
    }
}

// Default small button has large padding, reduce it
.btn-small {
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

// Add margin to submit buttons
button.btn {
    &[type="submit"] {
        margin-top: 20px;
    }
}

.nowrap {
    white-space: nowrap;
}

div.helper-text {
    color: var(--md-sys-color-secondary);
    font-size: 80%;
    margin-left: 1rem;
}

div.input-field {
    &.error {
        background-color: transparent !important;
    }
}
div.error-message {
    color: var(--md-sys-color-error);
    padding-left: 1rem;
    font-size: 90% !important;
}

table {
    th {
        background-color: var(--md-sys-color-surface-container-high);
    }
}
