@charset "UTF-8";
@import "vendor/Materialize/components/tokens.module";
@import "vendor/Materialize/components/colors.module";
@import "vendor/Materialize/components/typography.module";
@import "vendor/Materialize/components/theme.light.module";
@import "vendor/Materialize/components/theme.dark.module";
@import "vendor/Materialize/components/_theme_variables";

// Color
@import "vendor/Materialize/components/color-variables";
@import "vendor/Materialize/components/color-classes";
// Variables;
@import "vendor/Materialize/components/variables";
// Reset
@import "vendor/Materialize/components/normalize";
// components
@import "vendor/Materialize/components/global";
@import "vendor/Materialize/components/collection";
@import "vendor/Materialize/components/badges";
@import "vendor/Materialize/components/icons-material-design";
@import "vendor/Materialize/components/grid";
@import "vendor/Materialize/components/navbar";
@import "vendor/Materialize/components/typography";
@import "vendor/Materialize/components/transitions";
@import "vendor/Materialize/components/cards";
@import "vendor/Materialize/components/toast";
@import "vendor/Materialize/components/tabs";
@import "vendor/Materialize/components/tooltip";
@import "vendor/Materialize/components/buttons";
@import "vendor/Materialize/components/dropdown";
@import "vendor/Materialize/components/modal";
@import "vendor/Materialize/components/collapsible";
@import "vendor/Materialize/components/chips";
@import "vendor/Materialize/components/materialbox";
@import "vendor/Materialize/components/forms/forms";
@import "vendor/Materialize/components/table_of_contents";
@import "vendor/Materialize/components/sidenav";
@import "vendor/Materialize/components/preloader";
@import "vendor/Materialize/components/slider";
@import "vendor/Materialize/components/carousel";
@import "vendor/Materialize/components/tapTarget";
@import "vendor/Materialize/components/pulse";
@import "vendor/Materialize/components/datepicker";
@import "vendor/Materialize/components/timepicker";



$default-background-color: #f0f0f0 !default;

//@import "components/monthpicker";
@import "components/calendarday";
@import "components/timepanel";
@import "components/duration-input";
@import "components/userspicker-input";
@import "components/monthpicker-input";
@import "components/view-panel";
@import "components/search-panel";
@import "components/sidenav";
@import "components/paginator";
@import "components/upload-area";
@import "components/dashboard-panel";
@import "components/dashboard-notes";

@import "../../plugins/projects/webroot/sass/components/_panel-milestones";

@import "material-icons";


@import "overrides";
