@charset "UTF-8";

@forward "vendor/Materialize/components/tokens.module";
@forward "vendor/Materialize/components/theme.module";
//@forward "components/_theme_variables";
@forward "vendor/Materialize/components/colors.module";
@forward "vendor/Materialize/components/typography.module";
@forward "vendor/Materialize/components/mixins.module";
@forward "vendor/Materialize/components/color-variables";
@forward "vendor/Materialize/components/variables";
@forward "vendor/Materialize/components/normalize";

// components
@forward "vendor/Materialize/components/global";
@forward "vendor/Materialize/components/typography";
@forward "vendor/Materialize/components/buttons";
@forward "vendor/Materialize/components/collection";
@forward "vendor/Materialize/components/badges";
@forward "vendor/Materialize/components/icons-material-design";
@forward "vendor/Materialize/components/grid";
@forward "vendor/Materialize/components/navbar";
@forward "vendor/Materialize/components/transitions";
@forward "vendor/Materialize/components/cards";
@forward "vendor/Materialize/components/toast";
@forward "vendor/Materialize/components/tabs";
@forward "vendor/Materialize/components/tooltip";
@forward "vendor/Materialize/components/dropdown";
@forward "vendor/Materialize/components/modal";
@forward "vendor/Materialize/components/collapsible";
@forward "vendor/Materialize/components/chips";
@forward "vendor/Materialize/components/materialbox";
@forward "vendor/Materialize/components/forms/forms";
@forward "vendor/Materialize/components/table_of_contents";
@forward "vendor/Materialize/components/sidenav";
@forward "vendor/Materialize/components/preloader";
@forward "vendor/Materialize/components/slider";
@forward "vendor/Materialize/components/carousel";
@forward "vendor/Materialize/components/tapTarget";
@forward "vendor/Materialize/components/pulse";
@forward "vendor/Materialize/components/datepicker";
@forward "vendor/Materialize/components/timepicker";
@forward "vendor/Materialize/components/breadcrumb";
@forward "vendor/Materialize/components/pagination";

// custom components
@forward "components/local-tokens";
@forward "components/calendarday";
@forward "components/timepanel";
@forward "components/duration-input";
@forward "components/view-panel";
@forward "components/search-panel";
@forward "components/sidenav";
@forward "components/paginator";
@forward "components/upload-area";
@forward "components/dashboard-panel";
@forward "components/dashboard-notes";
@forward "components/dialog";
@forward "components/attachments-list";
@forward "components/table-index";
@forward "components/logs-table";

@forward "../../plugins/projects/webroot/sass/crm";

@forward "material-icons";
@forward "overrides";
